<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ant.hr.work.WorkMapper">
	<insert id="regCompany" parameterType="com.ant.hr.work.Company">
		insert into HR_GENBA values(HR_GENBA_seq.nextval, #{g_name}, #{g_inst}, #{g_logo}, #{g_hp}, #{g_recruit}, #{g_employment}, #{g_required}, #{g_infoPage}, #{g_condition}, #{g_post}, #{g_addr}, #{g_addrdetail}, #{g_tel}, #{g_email}, #{g_staion})
	</insert>
	
	<select id="getCompany" parameterType="com.ant.hr.community.BBSno" resultType="com.ant.hr.work.Company">
		select * from (
			select rownum r,g_no,g_name,g_inst,g_logo,g_hp,g_recruit,g_employment,g_required,g_infoPage,g_condition,g_post,g_addr,g_addrdetail,g_tel,g_email,g_station  
			from (select * from HR_GENBA order by g_no)
		) where r &lt;= #{start} and r &gt;= #{end} 
		order by r desc
	</select>
	<select id="getOneCompany" parameterType="com.ant.hr.work.Company" resultType="com.ant.hr.work.Company">
		select * from HR_GENBA where g_no = #{g_no}
	</select>
	<select id="getAllCompanyCount" resultType="java.lang.Integer">
		select count(*) from HR_GENBA
	</select>
</mapper>